
/* Urbanist Font */
/* devanagari */
@font-face {
  font-family: 'Noto Sans Devanagari';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansdevanagari/v27/LY2gB5y1gIFiYd0oKxnoQXVbMDLz32MEXTt4c61OOw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0x-DFOFargEszd_DUHwsei3TzI.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v15/L0x-DFOFargEszd_DUHwses3.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, +2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 50% 98%;
    --foreground: 240 10% 3.9%;
    --card: 240 50% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 50% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 207 90% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 348 83% 61%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 207 90% 54%;
  }
  .dark {
    --background: 240 10% 10%;
    --foreground: 0 0% 98%;
    --card: 240 10% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 207 90% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 348 83% 61%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 20%;
    --input: 240 3.7% 20%;
    --ring: 207 90% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  .animate-shimmer {
    background: linear-gradient(
      90deg,
      hsl(var(--muted-foreground)) 25%,
      hsl(var(--foreground)) 50%,
      hsl(var(--muted-foreground)) 75%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shimmer 5s infinite linear;
  }

  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes spin {
    to {
      --angle: 360deg;
    }
  }
  
 .loading-border {
    --border-width: 2px;
    --light-color-1: #8000FF; /* Purple */
    --light-color-2: #FF6A00; /* Orange */
    --light-color-3: #00FFF0; /* Cyan */
    --light-color-4: #FF007A; /* Magenta */
    --dark-color-1: #a855f7;
    --dark-color-2: #f97316;
    --dark-color-3: #06b6d4;
    --dark-color-4: #ec4899;

    position: absolute;
    inset: -1px; 
    z-index: 10;
    border-radius: inherit;
    padding: var(--border-width);
    background: conic-gradient(
      from var(--angle),
      var(--light-color-1),
      var(--light-color-2),
      var(--light-color-3),
      var(--light-color-4),
      var(--light-color-1)
    );
    animation: spin 1.5s linear infinite;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  .dark .loading-border {
     background: conic-gradient(
      from var(--angle),
      var(--dark-color-1),
      var(--dark-color-2),
      var(--dark-color-3),
      var(--dark-color-4),
      var(--dark-color-1)
    );
  }
}
